.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light-text);
}

.title {
  margin-bottom: 20px;
  color: var(--primary-accent);
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}

.searchInput {
  /* width: 100%; */
  min-width: 500px;
  padding: 12px 16px;
  margin: 0 auto 30px;
  display: block;
  border-radius: 6px;
  border: 1px solid var(--border-accent);
  background-color: var(--dark-surface);
  color: var(--light-text);
  font-size: 16px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.searchInput:focus {
  outline: none;
  border-color: var(--primary-accent);
}

.searchInput::placeholder {
  color: var(--placeholder-text);
}

/* ------ Адаптивная сетка ------ */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-items: center;
}

.skeleton {
  background-color: var(--dark-surface);
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 3/4; 
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
  animation: loading 1.2s infinite;
}

@keyframes loading {
  100% {
    left: 100%;
  }
}

/* ------ Адаптивность ------ */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .container {
    margin: 20px auto;
    padding: 0 15px;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .searchInput {
    margin-bottom: 20px;
    padding: 10px 14px;
    min-width: 400px;
  }
  
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 12px auto;
    padding: 0 10px;
  }
  
  .title {
    font-size: 1.1rem;
  }
  
  .searchInput {
    /* margin: 16px;   */
    padding: 8px 12px;
    min-width: 300px;
  }
  
  /* На телефонах - 1 карточка крупно */
  .grid {
    grid-template-columns: 1fr;
    gap: 12px;
    max-width: 400px;
    margin: 0 auto;
  }
}

.loading {
  text-align: center;
  padding: var(--space-xxl);
  color: var(--light-text);
  font-size: 1.2rem;
}

.error {
  text-align: center;
  padding: var(--space-xxl);
  color: var(--primary-accent);
  font-size: 1.2rem;
}